{% extends "base_generic.html" %}

{% block content %}
<h1>AI translator</h1>
    

    
    
    <form  method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        
        
        <tr>
            <th><label text:</label></th>
            <td>
                <input name="text_input" type="text" class="resizedTextbox" value="" required />
                <br />
                <input type="submit" value="Submit" />
                <br />
    
            </td>
        </tr>
    </form>
    

<p>Output text:</p>



<table style="width:200%" padding: 15px>
    <tr><i>
        <th>nr</th>
        <th>word</th>
        <th>tag</th>
        <th>nr</th>
        <th>nr</th>
        <th>nr</th>
        <th>nr</th>
        <th>nr</th>
        <th>nr</th>
        <th>nr</th>
        <th>nr</th>
        <th>nr</th>

    </tr></i>
    
{% for i in nltk %}
<tr>
    <th>{{ i.0 }}</th>
    <th>{{ i.1 }}</th>
    <th>{{ i.2 }}</th>
    <th>{{ i.3 }}</th>
    <th>{{ i.4 }}</th>
    <th>{{ i.5 }}</th>
    <th>{{ i.6 }}</th>
    <th>{{ i.7 }}</th>
    <th>{{ i.8 }}</th>
    <th>{{ i.9 }}</th>
    <th>{{ i.10 }}</th>
    <th>{{ i.11}}</th>
    <th>{{ i.12 }}</th>
</tr>
{% endfor %}
</table>

{% endblock %}